@import url('https://fonts.googleapis.com/css?family=Anton|Dosis|Indie+Flower|Play|Righteous|Roboto|Sen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica+SC&display=swap');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Sen', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Righteous', cursive;
font-family: 'Play', sans-serif;
*/

.bot_land {
  margin-top: 100px;
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: 'IM Fell Double Pica SC', serif;
  text-shadow: 3px 3px black;
}

.poobah {
  padding: 10px 20px 20px 20px;
  margin: 0 auto;
  background-color: rgba(39, 83, 171,0.1);
  border-radius: 70px;
  color: white;
  font-size: 20px;
}

.poobah:hover {
  background-color: rgba(39, 83, 171,0.5);
  border-radius: 10px;
  cursor: pointer;
}

.outermost {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(../../Media/garden4.jpg);
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.switcher button {
  background-color: rgba(0,0,0,0);
  border: 0;
}

#hi {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.card_desc {
  background-color: rgba(255,255,255,0.7);
  color: black;
  margin: 0 auto;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 70%;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

.card_title {
  font-family: 'IM Fell Double Pica SC', serif;
  color: white;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  padding-bottom: 10px;
}

img {
  width: 40%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.mainT {
  color: white;
  font-size: 100px;
  font-family: 'IM Fell Double Pica SC', serif;
  text-align: center;
  padding-top: 80px;
  letter-spacing: -5px;
  text-shadow: 4px 4px black;
}

.subT {
    text-shadow: 4px 4px black;
    margin-bottom: 150px;
    color: white;
    font-size: 60px;
    font-family: 'IM Fell Double Pica SC', serif;
    text-align: center;
    letter-spacing: 15px;
}

@media only screen and (max-width: 1051px) {

  img {
    width: 20%;
  }

  #hi {
    display: none;
  }

  .mainT {
    font-size: 70px;
    letter-spacing: 0;
    margin-top: 80px !important;
    text-shadow: 3px 3px black;
  }

  .subT {
    font-size: 50px;
    text-shadow: 3px 3px black;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1280px) {

    .card_title {
      font-size: 30px;
    }

    .subT {
        letter-spacing: 0;
    }

  body {
    background-color: darkblue;
  }

  .top_banner {
    display: none;
  }

}

.top_banner Button {

  position: absolute;
  top: 23vh;
  left: 5vw;
  text-shadow: 3px 3px #000;
}

.top_banner img {
  padding-top: 5px;
  width: 75vw;
  max-height: 55vh;
  object-fit: cover;
}

.top_banner {
  margin: 0 auto;
  width: 75vw;
  position: relative;
}

.big_text {
  background-color: rgba(255,0,0,0.5);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 85px;
  position: absolute;
  top: 5vh;
  left: 2.5vw;
  text-shadow: 3px 3px #000;
}

.small_text {
  font-size: 45px;
  position: absolute;
  top: 16vh;
  left: 4vw;
  text-shadow: 3px 3px #000;
}

.banner_text {
  color: white;
  font-family: 'Sen', sans-serif;
}

.backgroundImage {
  background-image: url(../../Media/garden6.jpeg);
  height: 55vh;
  max-width: 75vw;
  background-size: 125vh;
  object-fit: cover;
}
