@import url('https://fonts.googleapis.com/css?family=Anton|Dosis|Indie+Flower|Play|Righteous|Roboto|Sen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=IM+Fell+Great+Primer&family=Montserrat&display=swap');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Sen', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Righteous', cursive;
font-family: 'Play', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'IM Fell Great Primer', serif;
*/

.outer_signed_forum h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.outerForum {
  background-color: white;
}

.outerForum img {
  width: 200px;
}

.box {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 200px 0 0;
  border-color: #ff9900 transparent transparent transparent;
}

.box:hover {
  cursor: pointer;
  background-color: red;
}

.returnHomeButton {
  padding-top: 20px;
  display: block;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
}

.home_login {
  padding-bottom: 30px !important;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.8)),url(../../Media/greenhouse.jpeg);
}

@media only screen and (max-width: 1051px) {
  .outerForum {
    margin-top: 121px;
  }

}
