@import url('https://fonts.googleapis.com/css?family=Anton|Dosis|Indie+Flower|Play|Righteous|Roboto|Sen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica+SC&display=swap');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Sen', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Righteous', cursive;
font-family: 'Play', sans-serif;
*/

.under_desc {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

.line {
  margin-bottom: 25px;
}

.login_header img {
  height: 200px;
  width: 190px;
  padding-top: 20px;
}
.home_login {
    text-align: center;
}

.home_login h1 {
  font-size: 40px;
  margin-top: 0;
  padding-top: 0;
}

.home_login h2 {
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.outlined-adornment-password {
    color: red;
}

.registerIcon {
    margin-left: 10px;
}

#root > div > div > div > button {
    margin-top: 20px;
    margin-bottom: 10px;
}

.regButton {
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 24px;
}

.login_link Button {
    margin-top: 10px;
    font-style: italic;
}


#radioGroupHeader {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

#radioGroup {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
